@charset "utf-8";

$ff_main: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "メイリオ", "Meiryo", sans-serif;
$ff_en: 'Montserrat', sans-serif;
$c_main: #C4CCEB;
$con_w: 1004;
$b_w_sp: 375;

$mq-breakpoints: (
    'xsmall': 320px,
    'small' : 375px,
    'medium': 600px,
    'large' : 1024px,
    'xlarge': 1280px,
);
@mixin mq($breakpoint: medium) {
    @media screen and (max-width: #{map-get($mq-breakpoints, $breakpoint)}) {
        @content;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::before, &::after {
        box-sizing: border-box;
    }
}       
html {
    font-size: 62.5%;
}
body {
    font-weight: bold;
    font-size: 1.6rem;
    color: #000;
    background: $c_main;
    font-family: $ff_main;
}
h1, h2, h3 {
    font-weight: normal;
    font-size: inherit;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
    color: #000;
}
img {
    width: 100%;
    vertical-align: bottom;
}
.view_pc {
    display: block;
    @include mq {
        display: none;
    }
}
.view_sp {
    display: none;
    @include mq {
        display: block;
    }
}
.container {
    width: ($con_w/1280)*100%;
    max-width: #{$con_w}px;
    margin: 0 auto;
    @include mq {
        width: (335/$b_w_sp)*100vw;
    }
}

.main {
    .hero {
        .site-ttl {
            margin-top: (24/$con_w)*100%;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            &::before {
                content: url(../img/img-icon.png);
                display: inline-block;
                vertical-align: middle;
                margin-right: (14.4/$con_w)*100%;
            }
        }
        &-catch {
            margin-top: (141.4/$con_w)*100%;
            @include mq {
                margin-top: (36.4/$b_w_sp)*100vw;
            }
            span {
                display: inline-block;
                font-size: calc(2.6rem + ((1vw - 0.378rem) * 5.9866));
                line-height: 2.25;
                padding: 0 .5em;
                font-weight: bold;
                background: #fff;
                @media screen and (min-width: 1280px) {
                    font-size: 8rem;
                }
                @include mq(small) {
                    font-size: 2.6rem;
                }
                &:last-child {
                    margin-top: (26/$con_w)*100%;
                }
            }
        }
        &-btn {
            margin: (51.3/$con_w)*100% auto 0;
            width: 37px;
            height: 37px;
            transform: rotate(45deg);
            position: relative;
            @include mq {
                margin: (114.3/$b_w_sp)*100vw auto 0;
            }
            &::before, &::after {
                content: "";
                display: block;
                width: 37px;
                height: 10px;
                border-radius: 3px;
                background: #000;
                position: absolute;
                bottom: 0;
                right: 0;
            }
            &::after {
                width: 10px;
                height: 37px;
            }
        }
    }
    .diagnose {
        &-ttl {
            margin-top: (263.6/$con_w)*100%;
            font-size: 5rem;
            text-align: center;
            font-family: $ff_en;
            font-weight: 500;
            font-size: calc(1.9rem + ((1vw - 0.378rem) * 3.4368));
            @media screen and (min-width: 1280px) {
                font-size: 5rem;
            }
            @include mq {
                margin-top: (49.73/$b_w_sp)*100vw;
            }
            @include mq(small) {
                font-size: 1.9rem;
            }
            &::before, &::after  {
                content: "";
                background: url(../img/img-diagnose-icon.png) center center/contain no-repeat;
                width: (72/1280)*100vw;
                max-width: 72px;
                min-width: 27px;
                height: (70/1280)*100vw;
                min-height: 70px;
                min-height: 27px;
                vertical-align: middle;
                display: inline-block;
                margin: 0 (27.8/$con_w)*100%;
                @include mq {
                    background: url(../img/img-diagnose-icon.png) center center/cover;
                    width: (27/$b_w_sp)*100vw;
                    height: (25.86/$b_w_sp)*100vw;
                }
            }
        }
        &-inner {
            margin-top: (52/$con_w)*100%;
            padding: (103/$con_w)*100% (125/$con_w)*100% (58/$con_w)*100% (175/$con_w)*100%;
            border: 15px solid #fff;
            border-radius: 43px;
            @include mq {
                margin-top: (93.1/$b_w_sp)*100vw;
                padding: (52/$b_w_sp)*100vw (33/$b_w_sp)*100vw (68/$b_w_sp)*100vw (31/$b_w_sp)*100vw;
                border: 8px solid #fff;
            }
            span {
                display: inline;
            }
        }
        &-point {
            font-size: calc(5rem + ((1vw - 0.378rem) * 5.5432));
            line-height: 1;
            text-align: center;
            @media screen and (min-width: 1280px) {
                font-size: 10rem;
            }
            @include mq(small) {
                font-size: 5rem;
            }
            span {
                font-size: calc(8rem + ((1vw - 0.378rem) * 8.8691));
                @media screen and (min-width: 1280px) {
                    font-size: 16rem;
                }
                @include mq(small) {
                    font-size: 8rem;
                }
            }
            &::after {
                margin: (40/$con_w)*100% auto 0;
                content: "";
                background: url(../img/img-diagnose-border.png) center center/cover;
                max-width: 547px;
                height: 19px;
                display: block;
                @include mq {
                    margin: (20/$b_w_sp)*100vw auto 0;
                    background: url(../img/img-diagnose-border_sp.png) center center/cover;

                }
            }
        }
        &-txt {
            margin-top: (52.5/$con_w)*100%;
            font-size: calc(1.8rem + ((1vw - 0.378rem) * 1.3303));
            line-height: 1.67;
            @media screen and (min-width: 1280px) {
                font-size: 3rem;
            }
            @include mq {
                margin-top: (70.5/$b_w_sp)*100vw;
            }
            @include mq(small) {
                font-size: 1.8rem;
            }
        }
    }
    .intro {
        &-ttl {
            margin-top: (249/$con_w)*100%;
            font-weight: bold;
            text-align: center;
            font-size: calc(2.3rem + ((1vw - 0.378rem) * 6.3192));
            @media screen and (min-width: 1280px) {
                font-size: 8rem;
            }
            @include mq(small) {
                font-size: 2.3rem;
            }
            &::before, &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: (13/1280)*100vw;
                max-width: 13px;
                height: (95/1280)*100vw;
                max-height: 95px;
                border-radius: 11px;
                background: #fff;
                transform: rotate(-32deg);
                margin: 0 (23.6/$con_w)*100%;
            }
            &::after {
                transform: rotate(32deg);
            }
        }
        &-inner {
            margin-top: (85.8/$con_w)*100%;
            display: flex;
            justify-content: space-between;
            @include mq {
                margin-top: (55.2/$b_w_sp)*100vw;
                flex-direction: column;
            }
        }
        &-img {
            width: (330.39/$con_w)*100%;
            @include mq { 
                width: (332.68/$b_w_sp)*100vw;

            }
            img {
                box-shadow: 13.4px -12.1px; 
            }
        }
        &-desc {
            width: (579/$con_w)*100%;
            @include mq {
                width: 100%;
                margin-top: (70.5/$b_w_sp)*100vw;
            }
        }
        &-txt {
            font-size: 2rem;
            line-height: 1.5;
            &:not(:first-child) {
                margin-top: 2em;
            }
        }
        &-btn {
            margin-top: (100/579)*100%;
            max-width: 401px;
            height: 91px;
            border-radius: 51px;
            background: #fff;
            text-align: center;
            box-shadow: 7.2px 9px;
            transition: all .1s ease-out;
            @include mq {
                margin: (120/$b_w_sp)*100vw auto 0;
                max-width: 329px;
                height: 75px;
            }
            a {
                font-size: 4rem;
                line-height: 9.1rem;
                font-weight: 500;
                font-family: $ff_en;
                @include mq {
                    line-height: 75px;
                }
            }
            &:hover {
                transform: translate(7.2px, 9px);
                box-shadow: 0 0;
                
            }
        }
    }
    .person {        
        background: #fff;
        .container {
            width: (834/1280)*100%;
            max-width: 834px;
            @include mq {
                width: (322/$b_w_sp)*100vw;
            }
        }
        &-list {
            margin-top: (230.1/834)*100%;
            padding: (81/834)*100% 0 (188/834)*100% 0;
            display: flex;
            justify-content: space-between;
            @include mq {
                margin-top: (104.3/$b_w_sp)*100vw;
                padding: (124/$b_w_sp)*100vw 0 (173/$b_w_sp)*100vw 0;
                flex-direction: column;
            }
        }
        &-item {
            width: (340/834)*100%;
            @include mq {
                width: 100%;
                &:nth-child(2) {
                    margin-top: (140/$b_w_sp)*100vw;
                }
            }
        }
        &-thum {
            @include mq{
                width: (246/$b_w_sp)*100vw;
                margin: 0 auto;
            }
        }
        &-name {
            margin-top: (107/340)*100%;
            font-size: calc(3rem + ((1vw - 0.378rem) * 0.2217));
            line-height: 1;
            @media screen and (min-width: 1280px) {
                font-size: 3.2rem;
            }
            @include mq {
                margin-top: (39/$b_w_sp)*100vw;
            }
            @include mq(small) {
                font-size: 3rem;
            }
        }
        &-txt {
            margin-top: (16/340)*100%;
            line-height: 1.75;
            @include mq {
                margin-top: (20/$b_w_sp)*100vw;
            }
        }
        &-sns {
            margin-top: (50/340)*100%;
            display: flex;
            @include mq {
                margin-top: (21/$b_w_sp)*100vw;
            }
            &:nth-of-type(2) {
                margin-top: (17/340)*100%;
                @include mq {
                    margin-top: (16/$b_w_sp)*100vw;
                }
            }
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: (227/1280)*100vw;
        max-height: 227px;
        min-height: 90px;
        &-inner {
            display: flex;
        }
        &-list {
            display: flex;
            &:nth-child(2) {
                margin-left: (61/1280)*100vw;
            }
        }
    }
}